<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
  {% capture canonical %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <link href="//fonts.googleapis.com/css?family=Bitter:400,700,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="{{ "/favicon.png" | prepend: site.baseurl }}" rel="icon">
  <link href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" rel="apple-touch-icon">
  <link href="{{ "/apple-touch-icon-76x76.png" | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="76x76">
  <link href="{{ "/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="120x120">
  <link href="{{ "/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" rel="apple-touch-icon" sizes="152x152">
  {% if site.facebook_app_id %}
    <meta property="fb:admins" content="{{ site.facebook_app_id }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:description" content="{{ description }}">
    {% if site.facebook_page %}<meta property="article:author" content="{{ site.facebook_page }}">{% endif %}
    {% if page.facebook.image %}
      <meta property="og:image" content="{{ page.facebook.image }}">
    {% elsif site.facebook_image %}
      <meta property="og:image" content="{{ site.facebook_image }}">
    {% endif %}
  {% endif %}
  <meta name="twitter:card" content="{% if page.twitter_card.type %}{{ page.twitter_card.type }}{% else %}summary{% endif %}">
  {% if site.twitter_username %}<meta name="twitter:site" content="{{ site.twitter_username }}">{% endif %}
  <meta name="twitter:title" content="{{ title | truncate: 70 }}">
  <meta name="twitter:description" content="{{ description | truncate: 200 }}">
  {% if page.twitter_card.creator %}
    <meta name="twitter:creator" content="{{ page.twitter_card.creator }}">
  {% elsif site.twitter_username %}
    <meta name="twitter:creator" content="{{ site.twitter_username }}">
  {% endif %}
  {% if page.twitter_card.image %}
    {% if page.twitter_card.type == 'gallery' %}
      <meta name="twitter:image0" content="{{ page.twitter_card.image }}">
      <meta name="twitter:image1" content="{{ page.twitter_card.image1 }}">
      <meta name="twitter:image2" content="{{ page.twitter_card.image2 }}">
      <meta name="twitter:image3" content="{{ page.twitter_card.image3 }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ page.twitter_card.image }}">
      {% if page.twitter_card.type == 'photo' %}
        {% if page.twitter_card.width %}<meta name="twitter:image:width" content="{{ page.twitter_card.width }}">{% endif %}
        {% if page.twitter_card.height %}<meta name="twitter:image:height" content="{{ page.twitter_card.height }}">{% endif %}
      {% endif %}
    {% endif %}
  {% elsif site.twitter_image %}
    <meta name="twitter:image:src" content="{{ site.twitter_image }}">
  {% endif %}
  {% include analytics.html %}
</head>
