<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
<!--- MathJax Configuration -->
<!--<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
<!-- Social media content metadata -->
{% if site.facebook_app_id %}
  <meta property="fb:admins" content="{{ site.facebook_app_id }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}">
  <meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
  {% if site.facebook_page %}
    <meta property="article:author" content="{{ site.facebook_page }}">
  {% endif %}
  {% if page.facebook.image %}
    <meta property="og:image" content="{{ page.facebook.image }}">
  {% elsif site.facebook_image %}
    <meta property="og:image" content="{{ site.facebook_image }}">
  {% endif %}
{% endif %}
<meta name="twitter:card" content="{% if page.twitter_card.type %}{{ page.twitter_card.type }}{% else %}summary{% endif %}">
{% if site.twitter_user %}
  <meta name="twitter:site" content="{{ site.twitter_user }}">
{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title | truncate:70 }}{% else %}{{ site.title | truncate:70 }}{% endif %}">
<meta name="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
{% if page.twitter_card.creator %}
  <meta name="twitter:creator" content="{{ page.twitter_card.creator }}">
{% elsif site.twitter_user %}
  <meta name="twitter:creator" content="{{ site.twitter_user }}">
{% endif %}
{% if page.twitter_card.image %}
  {% if page.twitter_card.type == 'gallery' %}
    <meta name="twitter:image0" content="{{ page.twitter_card.image }}">
    <meta name="twitter:image1" content="{{ page.twitter_card.image1 }}">
    <meta name="twitter:image2" content="{{ page.twitter_card.image2 }}">
    <meta name="twitter:image3" content="{{ page.twitter_card.image3 }}">
  {% else %}
    <meta name="twitter:image:src" content="{{ page.twitter_card.image }}">
    {% if page.twitter_card.type == 'photo' %}
      {% if page.twitter_card.width %}
        <meta name="twitter:image:width" content="{{ page.twitter_card.width }}">
      {% endif %}
      {% if page.twitter_card.height %}
        <meta name="twitter:image:height" content="{{ page.twitter_card.height }}">
      {% endif %}
    {% endif %}
  {% endif %}
{% elsif site.twitter_image %}
  <meta name="twitter:image:src" content="{{ site.twitter_image }}">
{% endif %}
