@mixin selection($bg, $color: inherit, $text-shadow: none){
	* {
		&::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
		&::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
		&::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
	}
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
	background: $tomorrow-background;
	border-color: $tomorrow-current-line !important;
}

.highlight .line-numbers, html .gist .gist-file .gist-syntax .highlight .line_numbers {
	background: $tomorrow-current-line !important;
	border-right-color: $tomorrow-current-line !important;
	span { color: $tomorrow-comment !important; }
}

.gist .highlight, figure.code .highlight {
	@include selection($tomorrow-selection);
}

html .gist .gist-file .gist-meta {
	background: $tomorrow-current-line;
	border-color: $tomorrow-current-line !important;
}

.pre-code {
	background: $tomorrow-background !important;
	color: $tomorrow-foreground !important;
	span { color: $tomorrow-foreground !important; }

	/* Whitespace */
	//.w { color: #bbbbbb }
	/* Error */
	.err { color: $tomorrow-red !important; background: none !important; }
	/* Other */
	//.x { }

	/* Comment */
	.c { color: $tomorrow-comment !important; font-style: italic !important; }
	/* Comment.Multiline */
	.cm { color: $tomorrow-comment !important; font-style: italic !important; }
	/* Comment.Preproc */
	.cp { color: $tomorrow-comment !important; font-style: italic !important; }
	/* Comment.Single */
	.c1 { color: $tomorrow-comment !important; font-style: italic !important; }
	/* Comment.Special */
	.cs { color: $tomorrow-comment !important; font-weight: bold !important; font-style: italic !important; }

	/* Operator */
	.o { color: $tomorrow-foreground !important; font-weight: bold !important; }
	/* Operator.Word */
	.ow { color: $tomorrow-purple !important; font-weight: bold !important; }

	/* Punctuation */
	.p { color: $tomorrow-foreground !important; }

	/* Generic */
	//.g { }
	/* Generic.Deleted */
	.gd { color: $tomorrow-red !important; background-color: $tomorrow-current-line !important; display: inline-block; }
	/* Generic.Deleted.Specific */
	.gd .x { color: $tomorrow-red !important; background-color: $tomorrow-selection !important; display: inline-block; }
	/* Generic.Emph */
	.ge { color: $tomorrow-comment !important; font-style: italic !important; }
	/* Generic.Error */
	//.gr { color: #aa0000 }
	/* Generic.Heading */
	.gh { color: $tomorrow-foreground !important; }
	/* Generic.Inserted */
	.gi { color: $tomorrow-green !important; background-color: $tomorrow-current-line !important; display: inline-block; }
	/* Generic.Inserted.Specific */
	.gi .x { color: $tomorrow-green !important; background-color: $tomorrow-selection !important; display: inline-block; }
	/* Generic.Output */
	//.go { color: #888888 }
	/* Generic.Prompt */
	//.gp { color: #555555 }
	/* Generic.Strong */
	.gs { color: $tomorrow-foreground !important; font-weight: bold !important; }
	/* Generic.Subheading */
	.gu { color: $tomorrow-aqua !important; }
	/* Generic.Traceback */
	//.gt { color: #aa0000 }

	/* Keyword */
	.k { color: $tomorrow-purple !important; }
	/* Keyword.Constant */
	.kc { color: $tomorrow-yellow !important; font-weight: bold !important; }
	/* Keyword.Declaration */
	.kd { color: $tomorrow-purple !important; }
	/* Keyword.Namespace */
	.kn { color: $tomorrow-purple !important; }
	/* Keyword.Pseudo */
	.kp { color: $tomorrow-purple !important; font-weight: bold !important; }
	/* Keyword.Reserved */
	.kr { color: $tomorrow-purple !important; font-weight: bold !important; }
	/* Keyword.Type */
	.kt { color: $tomorrow-yellow !important; }

	/* Name */
	.n { color: $tomorrow-foreground !important; }
	/* Name.Attribute */
	.na { color: $tomorrow-blue !important; }
	/* Name.Builtin */
	.nb { color: $tomorrow-orange !important; }
	/* Name.Builtin.Pseudo */
	//.bp { color: #999999 }
	/* Name.Class */
	.nc { color: $tomorrow-yellow !important; }
	/* Name.Constant */
	.no { color: $tomorrow-yellow !important; }
	/* Name.Decorator */
	//.nd { }
	/* Name.Entity */
	//.ni { color: #800080 }
	/* Name.Exception */
	.ne { color: $tomorrow-yellow !important; font-weight: bold !important; }
	/* Name.Function */
	.nf { color: $tomorrow-blue !important; font-weight: bold !important; }
	/* Name.Property */
	//.py { }
	/* Name.Label */
	.nl { color: $tomorrow-red !important; }
	/* Name.Namespace */
	.nn { color: $tomorrow-yellow !important; }
	/* Name.Other */
	.nx { color: $tomorrow-foreground !important; }
	/* Name.Tag */
	.nt { color: $tomorrow-aqua !important; font-weight: bold !important; }
	/* Name.Variable */
	.nv { color: $tomorrow-aqua !important; }
	/* Name.Variable.Class */
	//.vc { color: #008080 }
	/* Name.Variable.Global */
	.vg { color: $tomorrow-red !important; }
	/* Name.Variable.Instance */
	.vi { color: $tomorrow-red !important; }

	/* Number */
	.m { color: $tomorrow-orange !important; }
	/* Number.Float */
	.mf { color: $tomorrow-orange !important; }
	/* Number.Hex */
	.mh { color: $tomorrow-orange !important; }
	/* Number.Integer */
	.mi { color: $tomorrow-orange !important; }
	/* Number.Integer.Long */
	.il { color: $tomorrow-orange !important; }
	/* Number.Oct */
	.mo { color: $tomorrow-orange !important; }

	/* Literal */
	//.l { }
	/* Literal.Date */
	//.ld { }

	/* String */
	.s { color: $tomorrow-green !important; }
	/* String.Backtick */
	//.sb { color: #d14 }
	/* String.Char */
	//.sc { color: #d14 }
	/* String.Doc */
	.sd { color: $tomorrow-green !important; }
	/* String.Double */
	.s2 { color: $tomorrow-green !important; }
	/* String.Escape */
	.se { color: $tomorrow-green !important; }
	/* String.Heredoc */
	//.sh { color: #d14 }
	/* String.Interpol */
	.si { color: $tomorrow-red !important; }
	/* String.Other */
	//.sx { color: #d14 }
	/* String.Regex */
	.sr { color: $tomorrow-green !important; }
	/* String.Single */
	.s1 { color: $tomorrow-green !important; }
	/* String.Symbol */
	.ss { color: $tomorrow-green !important; }
}
