$tomorrow-background: #ffffff;
$tomorrow-current-line: #efefef;
$tomorrow-selection: #d6d6d6;
$tomorrow-foreground: #4d4d4c;
$tomorrow-comment: #8e908c;
$tomorrow-red: #c82829;
$tomorrow-orange: #f5871f;
$tomorrow-yellow: #eab700;
$tomorrow-green: #718c00;
$tomorrow-aqua: #3e999f;
$tomorrow-blue: #4271ae;
$tomorrow-purple: #8959a8;

@import "base"
