$tomorrow-background: #1d1f21;
$tomorrow-current-line: #282a2e;
$tomorrow-selection: #373b41;
$tomorrow-foreground: #c5c8c6;
$tomorrow-comment: #969896;
$tomorrow-red: #cc6666;
$tomorrow-orange: #de935f;
$tomorrow-yellow: #f0c674;
$tomorrow-green: #b5bd68;
$tomorrow-aqua: #8abeb7;
$tomorrow-blue: #81a2be;
$tomorrow-purple: #b294bb;

@import "base"
