$tomorrow-background: #2d2d2d;
$tomorrow-current-line: #393939;
$tomorrow-selection: #515151;
$tomorrow-foreground: #cccccc;
$tomorrow-comment: #999999;
$tomorrow-red: #f2777a;
$tomorrow-orange: #f99157;
$tomorrow-yellow: #ffcc66;
$tomorrow-green: #99cc99;
$tomorrow-aqua: #66cccc;
$tomorrow-blue: #6699cc;
$tomorrow-purple: #cc99cc;

@import "base"
