$tomorrow-background: #000000;
$tomorrow-current-line: #2a2a2a;
$tomorrow-selection: #424242;
$tomorrow-foreground: #eaeaea;
$tomorrow-comment: #969896;
$tomorrow-red: #d54e53;
$tomorrow-orange: #e78c45;
$tomorrow-yellow: #e7c547;
$tomorrow-green: #b9ca4a;
$tomorrow-aqua: #70c0b1;
$tomorrow-blue: #7aa6da;
$tomorrow-purple: #c397d8;

@import "base"
